services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    command: uvicorn main:app --host 0.0.0.0 --port 9000
    expose:
      - "9000"
    env_file:
      - .env
    volumes:
      - ./backend/uploads:/app/uploads
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"   # << clave en Linux
    networks: [appnet]

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    image: printing-frontend:latest
    expose:
      - "80"
    restart: unless-stopped
    networks: [appnet]

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - /home/sebastianmestreok/Printing-Shop-Management-System/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
      - frontend
    networks: [appnet]

networks:
  appnet: {}
